# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env
instance/
*.sqlite3
*.db
*.log

# Flask/Packaging
*.tgz
*.tar.gz
dist/
build/

# Node/React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
*.cache

# IDE/OS
.vscode/
.idea/
.DS_Store
